<launch>
  <arg name="use_rviz" default="false"/>
  <arg name="use_pygame" default="true"/>

  <include file="$(find snakesim)/launch/snakesim.launch">
    <arg name="use_rviz" value="$(arg use_rviz)"/>
    <arg name="use_pygame" value="$(arg use_pygame)"/>
    <arg name="use_rqt_steering" value="false"/>
  </include>

  <include file="$(find snake_tutorial)/launch/snake_controller.launch"/>
</launch>
