<launch>
  <node type="snake_heading_controller" pkg="snake_tutorial" name="snake_heading_controller"/>
  <node type="snake_position_controller" pkg="snake_tutorial" name="snake_position_controller"/>
  <node type="snake_goal_relay" pkg="snake_tutorial" name="snake_goal_relay"/>

  <node type="rostopic" pkg="rostopic" name="velocity_publisher" args="pub /controller/velocity std_msgs/Float64 'data: 2.0'"/>
</launch>
